:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-font-size: 16px;
  --secondary-font-size: 14px;
  --primary-font-weight: 700;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --thirty-text-color: #ffffff;
  --fourty-text-color: #000000;
  --primary-bcg: #2f303a;
  --secondary-bcg: #f5f4fa;
  --thirty-bcg: #ffffff;
  --primary-icon-color: #afb1b8;
  --accent-color: #2196f3;
  --transition-dur-tf: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form-check-text, .modal-close-btn, .btn-subs, .social__list__link__dark__theme, .clients-list-link, .social-list-link, .plus-item-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.picture {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--primary-font), sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--thirty-bcg);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  margin-bottom: 50px;
}

.modal-btn {
  padding: 10px 40px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  background-color: var(--accent-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--thirty-text-color);
  transition: background-color var(--transition-dur-tf);
}
.modal-btn:hover, .modal-btn:focus {
  background-color: #188ce8;
}

.modal-btn-submit {
  align-self: center;
  width: 200px;
  padding: 10px 52px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  background-color: var(--accent-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--thirty-text-color);
  transition: background-color var(--transition-dur-tf);
}
.modal-btn-submit:hover, .modal-btn-submit:focus {
  background-color: #188ce8;
}

.btn-portfolio {
  transition: box-shadow var(--transition-dur-tf), background-color var(--transition-dur-tf);
}
.btn-portfolio:not(:last-child) {
  margin-right: 8px;
}
.btn-portfolio:hover, .btn-portfolio:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.header__container {
  display: flex;
  align-items: center;
}

.header {
  border: 1px solid #ececec;
}

.navigation {
  display: flex;
}

.navigation-menu {
  display: flex;
  align-items: center;
}

.contact__list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact__item__header:not(:first-child) {
  margin-left: 50px;
}

.logo-link-header {
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1923076923;
  color: var(--fourty-text-color);
}

.navigation-menu__item:not(:last-child) {
  margin-right: 50px;
}

.accent {
  color: var(--accent-color);
}

.navigation-menu__link {
  position: relative;
  padding: 32px 0;
  margin-bottom: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color var(--transition-dur-tf);
}
.navigation-menu__link:hover, .navigation-menu__link:focus {
  color: var(--accent-color);
}

.navigation-menu__link--current {
  color: var(--accent-color);
}

.navigation-menu__link--current::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contact__link__icon {
  justify-content: center;
  align-items: center;
  fill: currentColor;
  margin-right: 10px;
}
.contact__link__icon:hover, .contact__link__icon:focus {
  fill: currentColor;
}

.contact__link {
  display: flex;
  align-items: center;
  font-style: normal;
  padding: 32px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color var(--transition-dur-tf);
}
.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-hero.jpg);
  background-color: #c4c4c4;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-title {
  width: 693px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--thirty-text-color);
}

.plus-list-icon {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.plus-item-wrapper {
  /* width: 270px; */
  height: 120px;
  background-color: var(--secondary-bcg);
  margin-bottom: 30px;
}

.plus-list {
  display: flex;
  justify-content: space-between;
}

.plus-item {
  width: 270px;
}

.plus-title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
}

.plus-text {
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.examples {
  padding-top: 0;
}

.examples-list {
  display: flex;
}

.examples-img {
  position: relative;
}
.examples-img:not(:last-child) {
  margin-right: 30px;
}

.examples-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--thirty-text-color);
}

.examples-title-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
  text-align: center;
}

.team-list {
  display: flex;
}

.team-item {
  background: var(--thirty-bcg);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-name-title {
  margin-bottom: 10px;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1666666667;
  text-align: center;
}

.team {
  background-color: var(--secondary-bcg);
}

.team-sign {
  padding: 30px 0;
}

.team-name-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  text-align: center;
}

.team-speciality {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
  text-align: center;
  color: var(--secondary-text-color);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-list-icon {
  fill: var(--primary-icon-color);
  transition: fill var(--transition-dur-tf);
}
.social-list-link:hover .social-list-icon, .social-list-link:focus .social-list-icon {
  fill: var(--thirty-text-color);
}

.social-list-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--thirty-bcg);
  transition: background-color var(--transition-dur-tf);
}
.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
}

.clients-list {
  display: flex;
}

.clients-list-icon {
  fill: var(--primary-icon-color);
  transition: fill var(--transition-dur-tf);
}
.clients-list-link:hover .clients-list-icon, .clients-list-link:focus .clients-list-icon {
  fill: var(--accent-color);
}

.clients-list-link {
  width: 170px;
  height: 92px;
  color: var(--link-client-color);
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  transition: border var(--transition-dur-tf);
}
.clients-list-link:hover, .clients-list-link:focus {
  border: 1px solid var(--accent-color);
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.footer {
  background-color: var(--primary-bcg);
  padding: 60px 0;
}

.footer__flex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.logo-footer {
  margin-top: 60px;
  margin-bottom: 20px;
}

.contact-item:not(:last-child) {
  margin-bottom: 9px;
}

.logo-link-footer {
  display: block;
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1923076923;
  color: var(--thirty-text-color);
}

.address__text {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  color: var(--thirty-text-color);
}

.contact-text-footer {
  display: flex;
  align-items: center;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color var(--transition-dur-tf);
}
.contact-text-footer:hover, .contact-text-footer:focus {
  color: var(--accent-color);
}

.join-title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--thirty-text-color);
}

.social__list__icon__dark__theme {
  fill: var(--thirty-text-color);
}

.social__list__link__dark__theme {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-dur-tf);
}
.social__list__link__dark__theme:hover, .social__list__link__dark__theme:focus {
  background-color: var(--accent-color);
}

.subs-footer {
  align-items: center;
}

.subs-footer-slogan {
  margin-bottom: 20px;
  font-weight: var(--primary-font-weight);
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--thirty-text-color);
}

.email-input {
  width: 358px;
  padding: 15px 16px;
  margin-right: 12px;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--thirty-text-color);
  transition: border-color var(--transition-dur-tf);
}
.email-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.form-subs-footer {
  display: flex;
}

.btn-subs {
  width: 200px;
  padding: 10px 28px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  gap: 10px;
  border: none;
  transition: background-color var(--transition-dur-tf);
}
.btn-subs:hover, .btn-subs:focus {
  background-color: #188ce8;
}

.btn-subs-icon {
  fill: var(--thirty-bcg);
}

.nav-on-portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.nav-on-portfolio-text.current {
  background-color: var(--accent-color);
  color: var(--thirty-text-color);
}

.nav-on-portfolio-text {
  padding: 6px 28px;
  border-radius: 4px;
  border: none;
  background-color: var(--secondary-bcg);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  text-align: center;
  color: var(--primary-text-color);
  transition: color var(--transition-dur-tf), box-shadow var(--transition-dur-tf), background-color var(--transition-dur-tf);
}
.nav-on-portfolio-text:hover, .nav-on-portfolio-text:focus {
  background-color: var(--accent-color);
  color: var(--thirty-text-color);
}

.portfolio-img-text {
  padding: 20px 24px;
}

.portfolio-examples-item {
  background: var(--thirty-bcg);
  border: 1px solid #eeeeee;
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-examles-links {
  display: block;
  transition: box-shadow var(--transition-dur-tf);
}
.portfolio-examles-links:hover, .portfolio-examles-links:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  overflow: hidden;
  transform: translate(0, 100%);
  transition: var(--transition-dur-tf);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5555555556;
  color: var(--thirty-text-color);
  background-color: rgba(33, 150, 243, 0.9);
}
.portfolio-examles-links:hover .overlay, .portfolio-examles-links:focus .overlay {
  transform: translate(0, 0);
}

.portfolio-examples-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.portfolio-examples-title {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-examples-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
  color: var(--secondary-text-color);
}

.backdrop-modal {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--transition-dur-tf), visibility var(--transition-dur-tf);
}
.backdrop-modal.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop-modal.is-hidden .modal-wind {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal-wind {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  background: var(--thirty-bcg);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: var(--transition-dur-tf);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  transition: var(--transition-dur-tf);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-field-marg {
  margin-bottom: 20px;
}

.modal-form-slogan {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form-field-name {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.modal-input-wrapper {
  position: relative;
  display: block;
}

.modal-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--transition-dur-tf);
}
.modal-form-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 16px;
  padding: 12px 42px;
  outline: none;
  transition: border-color var(--transition-dur-tf);
}
.modal-form-input:focus {
  border-color: var(--accent-color);
}

.modal-form-comment {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  outline: none;
  padding: 12px 16px;
  transition: border-color var(--transition-dur-tf);
}
.modal-form-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-comment:focus {
  border-color: var(--accent-color);
}

.modal-form-check-text {
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  color: var(--secondary-text-color);
}
.modal-form-check-text::before {
  display: block;
  width: 16px;
  height: 15px;
  content: "";
  border: 1px solid var(--primary-text-color);
  border-radius: 4px;
  margin-right: 7px;
  transition: var(--transition-dur-tf);
}
.modal-form-check:checked + .modal-form-check-text::before {
  background-image: url(../images/icon\ check.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.modal-form-check:focus + .modal-form-check-text::before {
  border: 1.1px solid var(--primary-text-color);
}

.agreement-name {
  color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */