@media screen and (max-width: 767px) {
  .plus-list {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .plus-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .plus-list {
    flex-wrap: wrap;
    gap: 30px;
  }
  .plus-item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .plus-list {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .plus-item {
    width: calc((100% - 90px) / 4);
  }
  .plus-item:not(:last-child) {
    margin-right: 30px;
  }
}

.plus-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--secondary-bcg);
  margin-bottom: 30px;
}

.plus-title {
  text-align: center;
  margin-bottom: 10px;
  @include font(14px, 700, 16px);
  text-transform: uppercase;
}

.plus-text {
  @include font(14px, 400, 24px);

  color: var(--secondary-text-color);
}
